:root { /* root variables */
    --px: 16px;
    --offWhite: hsl(0 0% 80%);
    --white50: hsl(0 100% 100% / 60%);
    --grey: hsl(0 0% 25%);
    --dark: hsl(0 0% 15%);
    --grm: hsl(88 100% 50%);
    --sky: hsl(202 100% 60%);
    --prl: hsl(322 100% 65%);
}

/* remove default styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    user-select: none;
    text-decoration: none;
    font-size: 12pt;
    font-weight: 300;
    line-height: 1.5em;
    color: var(--dark);
    vertical-align: baseline;
    background: transparent;
    list-style-type: none;
    -webkit-tap-highlight-color: transparent;
}

@media (max-width: 1200px) {
}

/*mobile*/
@media (max-width: 800px) {
}
