:root { /* root variables */
    --px: 16px;
    --white: hsl(0 0% 100%);
    --white50: hsl(0 100% 100% / 60%);
    --gray: hsl(0 0% 35%);
    --dark: hsl(0 0% 5%);
    --grm: hsl(88 100% 50%);
    --sky: hsl(202 100% 60%);
    --red: hsl(356 100% 65%);
}

/* remove default styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    user-select: none;
    text-decoration: none;
    font-family: Sentient-Variable;
    font-size: 12pt;
    font-weight: 350;
    line-height: 1.5em;
    color: var(--dark);
    vertical-align: baseline;
    background: transparent;
    list-style-type: none;
    -webkit-tap-highlight-color: transparent;
}

@font-face {
    font-family: 'Poppins-Variable';
    src: url('./Poppins-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Sentient-Variable';
    src: url('./Sentient-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Aktura-Regular';
    src: url('./Aktura-Regular.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
}

body {
    background: var(--white);
}

h1 {
    display: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

i {
    font-family: Poppins-Variable;
    color: var(--gray);
    font-style: normal;
}

.logo {
    font-family: Aktura-Regular;
}

hr {
    width: 100%;
    border-top: 1px solid var(--gray);
    margin-top: var(--px);
    margin-bottom: var(--px);
}

body {
    padding: var(--px);
}

body > * {
    max-width: 1200px;
    margin: auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h2 {
    font-size: 36pt;
}

header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.articleSect {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: var(--px);
}

.articleSect > ul {
    grid-column: span 5;
    display: flex;
    flex-direction: column;
    gap: var(--px);
}

.articleSect > .aImg {
    grid-column: span 7;
}

.aImg img {
    width: 100%;
    height: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.article * {
    color: var(--gray);
}

.article h3 {
    color: var(--dark);
    font-size: 16pt;
    line-height: 1.2em;
    font-weight: 550;
}

.article i, .article strong {
    font-size: 10pt;
}

.article strong {
    font-weight: 500;
    color: var(--red);
}

.article li {
    margin-left: 1em;
}

.article li::before {
    content: '\2022';
    color: var(--red);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


footer h2 {
    font-size: 24pt;
}

footer {
    display: flex;
    flex-direction: column;
    gap: calc(var(--px)*2);
    margin: calc(var(--px)*2);
    margin-top: calc(var(--px)*8);
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

footer nav {
    display: flex;
    gap: calc(var(--px)/2);
}

/*mobile*/
@media (max-width: 800px) {
    * {
        font-size: 10pt;
    }

    header h2 {
        font-size: 32pt;
    }

    .article h3 {
        font-size: 12pt;
    }

    .article i, .article strong {
        font-size: 8pt;
    }

    body {
        padding: calc(var(--px)/2);
    }

    .articleSect {
        grid-template-columns: 1fr;
        gap: 0;
        grid-row-gap: var(--px);
    }

    .articleSect ul, .articleSect > aImg {
        grid-column: 1;
    }

    footer h2 {
        font-size: 18pt;
    }

    footer nav {
        display: none;
    }
}
